.wrapper {
	width: 900px;
	padding: 0em 10em 1em 13em;
	border-radius: 20px 105px 115px 35px;
}
.logo {
	padding-bottom: 5px;
}
.title{
	font-size: 48px;
	color: #2C5463;
}
.title:hover{
	color: #617F8A; 
}
.language{
	text-align: right;
	/*這邊加text-decoration: none;無用?!!*/
	font-size: 20px
}

/*navbar*/

.item-list{
	list-style: none;
	font-size: 20px;
	display: block;
 }
.item-list li{
	display: block;
	position: relative;
	float: left;
	text-align: center;
}
.item-list li a{
	padding: 7px 25px 3px 5px;
}

nav {
	background-color: #2C5463;
	height:40px;
}

nav ul {
	font-size: 20px;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	display: block;
	position: relative;
	float: left;
}

nav ul li a{
	display: block;
	text-decoration: none;
	padding: 7px 18px 3px 5px;
	background: #2C5463;
	color: #ffffff; 
	margin-left: 0px;
	white-space: nowrap;/*what does this means??*/
	height:30px;
	text-align:center;
}

nav ul li a:hover { 
  background: #617F8A; 
}

nav li:hover ul {
  display: block;
  position: absolute;
  height:30px;
}

/*slideshow*/

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  
 section{
	width: 600px;
	float: left
 }
 aside{
	width: 280px;
	float: right;
 }
 aside img{
	width: 280px;
 }
.epaper ul li{
	text-decoration: none;
 }
 
 footer{
	background-color: #61380B;
	text-align: center;
	padding: 2em 10em 1em 13em;
	margin: 0px;
	clear: both;
 }
 
 a {
	text-decoration: none;
	font-family: Microsoft JhengHei;
 }
 
 .news{
	color: blue;
 }
